@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
   
* {
    font-family: 'Poppins', sans-serif !important;
}
body {
    background-color: #bdbdbd;
}
.icon {
    margin-top: -46px;
    margin-bottom: 20px;
    margin-left: 140px;
    border-radius: 10px;
}
.iconstock{
    margin-top: -56px;
    margin-bottom: 20px;
    margin-left: 140px;
    border-radius: 10px;
}
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.foot{
    position: absolute;
    bottom: 0px;
}
.folder {
    width: 100px;
}
.headcard{
    background-image: url("../img/bg-illustrate.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0ffff;
    box-shadow: 7px 7px 25px #8a8a8a;
}

a:hover {
    font-weight: bold;
}